<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>YourApp · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/bootstrap.css") %>"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/all.css") %>"/>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/jquery.min.js"></script>
    <script  type="text/javascript" src="/js/alpine.min.js"></script>
    <script  type="text/javascript" src="/js/sha.js"></script>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/datatables.min.css") %>"/>
    <script  type="text/javascript" src="/js/datatables.min.js"></script>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script  type="text/javascript" src="/js/app.js"></script>
    <link rel="stylesheet" href="/vendor/chartist/chartist.css"/>
    <script  type="text/javascript" src="/vendor/chartist/chartist.min.js"></script>
    <script  type="text/javascript" src="/js/ckeditor.js"></script>
  </head>
  <body>
    <%= render("header.html", conn: @conn)%>
    <div class="container-fluid mt-2">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <!--
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
          -->
        </ol>
      </nav>
      <%= @inner_content %>
    </div>
    <footer class="p-2">
    </footer>
    <script type="text/javascript">
    $(document).ready(function(){
    <%= cond do %>
    <% get_flash(@conn, :info) != nil -> %>
    App.notify("<%= get_flash(@conn, :info) %>", {type: 'success'});
    <% get_flash(@conn, :error) != nil -> %>
    App.notify("<%= get_flash(@conn, :error) %>", {type: 'danger'});
    <% true -> %>
    <% end %>
    })
    </script>
    <div class="modal" id="myModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>