<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>ARK Library - KJCMC</title>
		<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/bootstrap_cosmo.min.css") %>"/>
		  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
		<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/all.css") %>"/>
		<script  type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script  type="text/javascript" src="/js/jquery.min.js"></script>
		<script  type="text/javascript" src="/js/alpine.min.js"></script>
		<script  type="text/javascript" src="/js/sha.js"></script>
		    <script type="text/javascript" src="/js/bootstrap.notify.js"></script>
		      <script type="text/javascript" src="/js/phoenix.js"></script>
		<script  type="text/javascript" src="/js/app.js"></script>

    <script type="text/javascript">
            var socket = new Phoenix.Socket("/socket", {
        params: { token: window.userToken }
      });
      socket.connect();
    </script>

	</head>
	<body>
	<nav aria-label="breadcrumb"></nav>
	<%= @inner_content %>
	<script type="text/javascript">
	$(document).ready(function(){
	<%= cond do %>
	<% get_flash(@conn, :info) != nil -> %>
	App.notify("<%= get_flash(@conn, :info) %>");
	<% get_flash(@conn, :error) != nil -> %>
	App.notify("<%= get_flash(@conn, :error) %>");
	<% true -> %>
	<% end %>
	})
	</script>

  <div class="modal" id="mySubModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

<div class="wrapper-ring">
  <div class="lds-ripple">
    <div></div>
    <div></div>
  </div>
</div>

</body>
</html>