<h1>New Page visitor</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.page_visitor_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.page_visitor_path(@conn, :index) %></span>
