<h4>Hi
  <%= @user.name %>,</h4>
<p>
  You have requested for password reset,<br>
  kindly click on this link
  <a href="https://organiclovenewlife.com/admin/reset_password?user_id=<%= @user.id %>&j=<%= @user.crypted_password %>">reset</a> to change new password. </p>
<p>Otherwise ignore this email.
</p>
<p>
  <h6>
    Regards,<br>
    Organic Love Resources<br>
    Ecom System</h6>
</p>