<h1>New Shop product tag</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.shop_product_tag_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.shop_product_tag_path(@conn, :index) %></span>
