<h1>Show Shop product tag</h1>

<ul>

  <li>
    <strong>Shop product:</strong>
    <%= @shop_product_tag.shop_product_id %>
  </li>

  <li>
    <strong>Tag:</strong>
    <%= @shop_product_tag.tag_id %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.shop_product_tag_path(@conn, :edit, @shop_product_tag) %></span>
<span><%= link "Back", to: Routes.shop_product_tag_path(@conn, :index) %></span>
