<h1>New Customer order</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.customer_order_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.customer_order_path(@conn, :index) %></span>
