<h1>Edit Stored media</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.stored_media_path(@conn, :update, @stored_media)) %>

<span><%= link "Back", to: Routes.stored_media_path(@conn, :index) %></span>
