<h1>Edit Customer order line</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.customer_order_line_path(@conn, :update, @customer_order_line)) %>

<span><%= link "Back", to: Routes.customer_order_line_path(@conn, :index) %></span>
