<h1>Edit Shop product</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.shop_product_path(@conn, :update, @shop_product)) %>

<span><%= link "Back", to: Routes.shop_product_path(@conn, :index) %></span>
